*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagina__productos{
    display: flex;
    justify-content: center;
}
.productos{
    height: 600px;
    width: 60%;
    background-image: url(camisa7.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
}
.aside__general{
    width: 30%;
    margin: 10px;
    height: 800px;
    background-color: rgba(44, 40, 40, 0.23);
}
.texto{
    color: rgb(56, 40, 19);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.titulo__productos{
    font-size: 50px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
.producto__desc{
    padding: 10px;
    color: rgb(56, 40, 19);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.botones__talla{
    display: flex;
    justify-content: space-around;
}
.botones__compra{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    border-radius: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.call{
    background-color: sandybrown;
    border-radius: 20px;
}